
/* Styling for divs */
.link1 {
  color: var(--link-color1);
}

.link2 {
  color: var(--link-color2);
}

.link3 {
  color: var(--primary-color);
  text-underline-position: under; 
}
.link3:hover{
  color: var(--highlight-color);
}
.link4 {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
  transition: transform 0.3s;
}

.link4:hover {
  transform: skewX(-24deg);
}

.bounce-text:hover {
  display: inline-block;
  color: var(--link-color2);
  cursor: pointer;
  animation: bounce 0.8s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.button-grad1{
  background-image: linear-gradient(to right, #834d9b 0%, #d04ed6  51%, #834d9b  100%);
  border: none!important;
  background-size: 200% auto;
  /* box-shadow: 0 0 10px #eee; */
  border-radius: 10px;
  color: var(--primary-color);            
  font: normal normal normal 32px/46px Sitka Display;
  opacity: 1;
  padding: 18px 32px;
  transition: 0.5s;
}

.button-grad1:hover {
  background-position: right center; /* change the direction of the change here */
  color: whitesmoke;
  text-decoration: none;
  border: none;
  font: normal normal normal 32px/46px Sitka Display;
  padding: 18px 32px; 
}

.button-grad2 {
background-size: 200% auto;
background-image: linear-gradient(to right, #3b971d 0%, #40af3c  51%, #27971d  100%);
border: none;
border-radius: 10px;
color: var(--primary-color);  
display: block;
font: normal normal normal 32px/46px Sitka Display;
transition: 0.5s;
text-align: center;
padding: 18px 32px;
}

.button-grad2:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}

       
.button-grad3 {
background-size: 200% auto;
background-image: linear-gradient(to right, #1FA2FF 0%, #57C2FF  51%, #1FA2FF  100%);
border: none;
border-radius: 10px;
color: var(--primary-color);      
font: normal normal normal 32px/46px Sitka Display;
padding: 18px 32px;
text-align: center;
transition: 0.5s;
}

.button-grad3:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
.button-grad4 {
background-size: 200% auto;
background-image: linear-gradient(to right, #ec7b2a 0%, hsl(31, 95%, 68%)  51%, #ec7b2a  100%);
border: none;
border-radius: 10px;
color: var(--primary-color);      
font: normal normal normal 32px/46px Sitka Display;
padding: 18px 32px;
text-align: center;
transition: 0.5s;
}

.button-grad4:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}


.button1 {
  background: none;
  border: none;
  color: var(--link-color1);
  font: normal normal normal 32px/46px Sitka Display;
  opacity: 1;
  padding: 18px 32px;
}

.button1:hover {
  background-color: none; 
  border: none;
  color: #CA5C1E; 
  font: normal normal normal 32px/46px Sitka Display;
  padding: 18px 32px; 
}
.button2 {
background-color: transparent; 
  border-color: transparent;
  color: #FF4CFF;
  font: normal normal normal 32px/46px Sitka Display;
  padding: 18px 32px; 
}

.button3 {
  background: #80DD2E 0% 0% no-repeat padding-box;
  border-color: none;
  font: normal normal normal 32px/46px Sitka Display;
  color: #FFFFFF;
  opacity: 1;
  padding: 18px 32px; 
}

.button3:hover {
  background-color: #142341; 
  border-color: #142341;
  color: white; 
  font: normal normal normal 32px/46px Sitka Display;
  padding: 18px 32px; 
}
     
.button4 {
background: #40B54D 0% 0% no-repeat padding-box;
border: none;
color: #FFFFFF;
font: normal normal normal 32px/46px Sitka Display;
opacity: 1;
padding: 18px 32px; 
}

.button4:hover {
background-color: #7DC43E; 
border: none;
color: white; 
font: normal normal normal 32px/46px Sitka Display;
padding: 18px 32px; 
}
.button5 {
background-color: transparent; 
  border-color: transparent;
  border-radius: 10px;
  color: #1FA2FF;
  font: normal normal normal 32px/46px Sitka Display;
  padding: 18px 32px; 
}

.button5:hover {
  background-color: transparent; 
  border-color: none;
color: #08366A; 
font: normal normal normal 32px/46px Sitka Display;
padding: 18px 32px; 
}
.button6 {
  background-color: transparent; 
    border-color: transparent;
    color: var(--secondary-color);
    font: normal normal normal 32px/46px Sitka Display;
    padding: 18px 32px; 
  }
  
  .button6:hover, .button2:hover {
    border-color: none;
    color: #C417DB;
  font: normal normal normal 32px/46px Sitka Display;
  padding: 18px 32px; 
  }
  .button7 {
    background-color: transparent; 
      border-color: transparent;
      color: var(--highlight-color);
      cursor: pointer;
      font: normal normal normal 32px/46px Sitka Display;
      padding: 18px 32px; 
    }
    .button7:hover {
      background-color: transparent; 
        border-color: var(--highlight-color);;
        color: var(--highlight-color);
        cursor: pointer;
        font: normal normal normal 32px/46px Sitka Display;
        padding: 18px 32px; 
      }
  .active3 {
    border-color: none;
  color: var(--primary-color); 
  font: normal normal normal 32px/46px Sitka Display;
  padding: 18px 32px; 
  }
/* Create four equal columns that floats next to each other */
.column {
float: left;
width: 20%;
}
.column1 {
float: left;
width: 40%;
padding: 10px;
}
/*Cards in licenses and certifications */
.col-3 {
float: left;
width: 30%;
padding: 10px;
}
.col-white {
  background-color: white;
  }

.cta:hover{
  box-shadow: 6px 7px 18px #BED1DB;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.title {
  line-height: 1.5;
}

.experienceList {
  text-align: left; 
  padding-left: 5%; 
}
.footerButton{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #142341;
  background-color: inherit;
  cursor: pointer;
  white-space: nowrap; 
  font-size: 18px;
}
.footerButton{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.footerButton:disabled{
  cursor: not-allowed;
  opacity: 0.3
}
.footerButton{
  width: 100%;
  text-align: left;
  padding: 8px 16px
}
.footerButton:hover{
  color:black!important;
  background-color:white!important
}
.footerButton{
  white-space:normal
}
/* footer{
  position: fixed;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
} */
.header {
  background: #1abc9c; 
  color: white; 
  font-size: 30px; 
  padding: 60px; 
  text-align: center; 
}
.mainIntroToSamantha {
color: var(--primary-color); 
font: normal normal normal 45px/50px Sitka Heading;
text-align: left;
}
.introToSamantha {
  color: var(--primary-color); 
  font: normal normal normal 30px Sitka Heading;
  line-height: 48px;
}
.opacityhalf{
  opacity: 0.5;
}
.opactiy-third{
  opacity: .6;
}
.leftHRLine {
  border: 1px solid #F820FF;
}
.middleSideText {
  color: #E6E9EF;
  text-align: center;
 }
.leftSideText {
  color: var(--primary-color-text);
  text-align: left;
 }
 .lightBackground{
  background-color: var(--light-block-color);
  color: var(--secondary-color);
 }
.rightSideText {
  color: #E6E9EF; 
  text-align: right;
 }

/* TECH / SKILLS BLOCK */
/* Styling for the div elements toggle */
.filterDiv1 {
color: var(--dark-text);
display: none;
text-align: left;
margin: 2px;
padding: 2%;
position: relative;
top: 0;
}

.techTitle { 
font: normal normal normal 30px/44px Sitka Display;
opacity: 1;
text-align: left;
}
.skillsTitle { 
color: var(--primary-color-text);
font: normal normal normal 30px/44px Sitka Display;
opacity: .5;
text-align: left;
}
.skillsTitleMobile { 
  color: var(--primary-color-text);
  font: normal normal normalpx/44px Sitka Display;
  opacity: 1;
  text-align: left;
  }
.show {
display: block;
}

.container7 {
background: #F7F6FE;
box-shadow: 6px 13px 18px #ADAEC8C4;
border-radius: 25px;
overflow: hidden;
color: #6A7B88;
}

.containerMobile {
  background: #F7F6FE;
  box-shadow: 6px 13px 18px #ADAEC8C4;
  border-radius: 25px;
  overflow: hidden;
  color: #6A7B88;
  }
/* .container1 {
overflow: hidden;
background: var(--third-color);
border-radius: 25px;
box-shadow: 6px 13px 18px #ADAEC8C4;
color:var(--primary-color-text);
} */


/* .container1 {
background: #F7F6FE;
border-radius: 25px;
box-shadow: 6px 13px 18px #ADAEC8C4;
animation: mymove 5s infinite;
overflow: hidden;
}

@keyframes mymove {
from {background-color: whitesmoke;opacity: 50%;}
to {background-color: whitesmoke; opacity: 10%;}
} */
/* Style the buttons */

.btn1 {
background: #3E8913 0% 0% no-repeat padding-box;
border: none;
color: #FFFFFF;
cursor: pointer;
font: normal normal bold 30px/44px Sitka Banner;
outline: none;
opacity: 0.49;
padding: 12px 16px;
text-align: left;
letter-spacing: 0px;
}

.btn1:hover {
background-color: #ddd;
}

.btn1.active1 {
background-color: #2DAFB7;
color: #FFFFFF;
font: normal normal bold 30px/44px Sitka Banner;
text-align: left;
opacity: 100%;
}

/* Education section */
.filterDiv2 {
color: #6A7B88;
display: none;
text-align: left;
margin: 2px;
padding: 2%;
position: relative;
top: 0;
}

/* Style the buttons */
.btn2 {
background: #3E8913 0% 0% no-repeat padding-box;
border: none;
color: #FFFFFF;
cursor: pointer;
font: normal normal bold 30px/44px Sitka Banner;
outline: none;
opacity: 0.49;
padding: 12px 16px;
text-align: left;
letter-spacing: 0px;
}

.btn2:hover {
background-color: #ddd;
}

.btn2.active2 {
background-color: #2DAFB7!important;
color: #FFFFFF;
font: normal normal bold 30px/44px Sitka Banner;
text-align: left;
opacity: 100%;
}

.show2 {
display: block;
}


/* WORK EXPEREIENCE SECTION */
.workExpereience {
background-color: #E6E9EF;
color: #6A7B88;
display: none;
text-align: left;
margin: 2px;
position: relative;
top: 0;
}

* {box-sizing: border-box}
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: var(--dark-text);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
  color: #A6BACF;
  cursor: pointer;
  transition: background-color 0.6s ease;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border: none!important;
  transition: 0.5s;
  background-size: 200% auto;          
  border-radius: 10px;
  font: normal normal normal 32px/46px Sitka Display;
  overflow: hidden;
  padding: 18px 32px;
}

.active, .dot:hover {
  background-image: linear-gradient(to right, #834d9b 0%, #d04ed6  51%, #834d9b  100%);
  border: none!important;
  background-size: 200% auto;
  /* box-shadow: 0 0 10px #eee; */
  border-radius: 10px;
  color: var(--primary-color);            
  font: normal normal normal 32px/46px Sitka Display;
  opacity: 1;
  padding: 18px 32px;
  transition: 0.5s;
}


/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

.table {
width:10%;
color: var(--primary-color-text);
}
