/* this is how to make comments in css */

  

.countDown {
    text-align: right;
    font-size: 20px;
    margin-top: 0px;
}

/**********************/
/* A. hover images  */ 
.backGroundImages {
  font-variant: small-caps; /*text inside white*/
  position: relative;
  overflow: hidden; /* hides text until hover*/
  margin: 30px;
  min-width: 20px;
  max-width: 315px;
  width: 1500px;
  color: #141414;
  text-align: right;
  line-height: 1.4em;
  font-size: 16px;
}
.backGroundImages * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.backGroundImages img {
  max-width: 100%;
  vertical-align: top;
}
.backGroundImages figcaption { 
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff; /*white where wrtiting is*/
  padding: 15px 25px 75px;
}
.backGroundImages figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.backGroundImages h3,
.backGroundImages p {
  margin: 0 0 10px;
}
.backGroundImages h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: cursive;  /* text titles that are over images */
  font-variant: small-caps;
}
.backGroundImages p {
  font-size: 1.3em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.backGroundImages:hover figcaption,
.backGroundImages.hover figcaption {
  top: 80px;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

 
